@page
@using SteamB23Website.Pages.Sections
@model IndexModel
@{
    Layout = "_WelcomeLayout";
    ViewData["Title"] = "Home page";
    var sections = new SectionInfo[]
    {
        new("Welcome", "fullscreen flex welcome"),
        new("About"),
        new("Skills"),
        new("Projects"),
        new("Contact"),
    };

    if (Request.Query.ContainsKey("coffee"))
    {
        Response.StatusCode = StatusCodes.Status418ImATeapot;
        ViewData["Teapot"] = true;
    }
}

<nav>
    <div>
        <a class="menu-open"><i class="fa-solid fa-bars"></i></a>
    </div>
    <ul>
        <li class="looking"><a href="#section-welcome" class="active">TOP</a></li>
        <li class="looking"><a href="#section-about">소개</a></li>
        <li class="looking"><a href="#section-skills">기술</a></li>
        <li class="looking"><a href="#section-projects">프로젝트</a></li>
        <li class="looking"><a href="#section-contact">연락처</a></li>
    </ul>
</nav>

@foreach (var section in sections)
{
    <section id="section-@(section.Name.ToLower())" class="@(section.SectionClass)">
        @await Html.PartialAsync($"Sections/_{section.Name}")
    </section>
}

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/three@0.141.0/build/three.min.js"></script>
    <script src="~/js/welcome.js"></script>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            function getUrlParams() {
                var params = {};

                window.location.search.replace(/[?&]+([^=&]+)=?([^&]*)/gi,
                    function(str, key, value) {
                        params[key] = value;
                    }
                );

                return params;
            }

            let params = getUrlParams();

            if (params.pig != null) {
                let body = document.body;
                html = body.innerHTML;
                body.innerHTML = body.innerHTML.replace(/[가-힣]/g, "꿀");

                let img = document.querySelector("figure.profile>img");
                img.setAttribute("src", "img/pig.webp");
            }
        });
    </script>
}