@page
@using SteamB23Website.Pages.Sections
@model IndexModel
@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Home page";
    var sections = new SectionInfo[]
    {
        new("Welcome", "fullscreen flex welcome"),
        new("About"),
        new("Experience"),
        new("Projects"),
        new("Contact"),
    };
}
@foreach (var section in sections)
{
    <section class="@(section.SectionClass)">
        @await Html.PartialAsync($"Sections/_{section.Name}")
    </section>
}

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/three@0.141.0/build/three.min.js"></script>
    <script src="~/js/welcome.es5.min.js" defer></script>
    <script defer>

        function readMore() {
            const viewHeight = window.innerHeight;

            scrollTo({ top: viewHeight, behavior: "smooth" });
        }

        document.querySelector("#read-more-button").addEventListener("click", (event) => {
            readMore();
        });
    </script>
}