@import "./site/main.scss";

#delayed-load {
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 10000;
    background-color: yellow;
    color: black;
    text-align: center;
}
