<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello, World! - 맛난호빵</title>
    <link href="~/css/normalize.css" type="text/css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.min.css" type="text/css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/wecome.min.css" type="text/css" rel="stylesheet" asp-append-version="true" />
    <link href="//cdn.jsdelivr.net/npm/font-kopubworld@1.0" rel="stylesheet" />
    <link href="~/fontawesome/css/all.css" rel="stylesheet">
</head>
<body class="preload">

    <main>
        @RenderBody()
    </main>
    <footer>
        <div>
            <p>2022, Design by 맛난호빵</p>
        </div>
    </footer>
    
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>