<div>
    <h2 class="text-center">소개</h2>
    <div class="profile">
        <figure class="profile">
            <img src="img/profile.webp" class="profile" title="최지헌" loading="lazy"/>
        </figure>
        <div>
            <p>저는 <strong>강원도 강릉</strong>에서 태어나 <strong>청강문화산업대학교</strong>에서 공부하고 졸업 예정인, 게임을 사랑하는 <strong>개발자</strong> <strong>최지헌(맛난호빵)</strong>입니다.</p>
            <p>어릴적 부터 게임 개발자에 대해 동경을 가지고 있어 취미로 RPG 메이커를 다루었었습니다. 그러다가 고등학교에 입학하고 프로그래밍을 독학하여 본격적으로 게임 개발자가 되기 위한 길을 걸어왔습니다.</p>
            <p><em><strong>게임 플레이</strong>부터 <strong>유저 인터페이스</strong>까지, 편안한 <strong>사용자 경험</strong>에 집중한 <strong>상호 작용</strong>을 구현하는 것에 대해서 항상 <strong>진지하게 생각</strong>하고 있습니다.</em></p>
        </div>
    </div>
</div>