@{
    var mailSubject = "steamb23.pe.kr를 통해 보내는 메일";
}
<div>
    <h2 class="text-center">연락처</h2>
    <table style="margin: auto; border-spacing:1em;">
        <tr>
            <td>
                이메일
            </td>
            <td>
                <a href="mailto:steamb23@outlook.com?subject=@(mailSubject)">steamb23@outlook.com</a>
            </td>
        </tr>
    </table>
    <div class="sns-list-big">
        <a href="https://blog.steamb23.pe.kr/" title="블로그" target="_blank"><i class="fas fa-house-user"></i></a>
        <a href="https://github.com/steamb23" title="깃허브" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/steamb23" title="링크드인" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    </div>
</div>