<div>
    <h2 class="text-center">기술 및 경험</h2>
    <div>
        <h3 class="text-center">게임 클라이언트</h3>
    </div>
    <div>
        <h3 class="text-center">백엔드</h3>
    </div>
    <div>
        <h3 class="text-center">CI/CD</h3>
    </div>
    <div>
        <h3 class="text-center">프로그래밍 언어</h3>
    </div>
</div>