<div class="text-center">
    <h2 class="text-center">기술 및 경험</h2>
    <p class="highlight">각 항목을 터치하면 자세한 내용을 볼 수 있습니다.</p>
    <div>
        <h3 class="text-center">게임 클라이언트</h3>
        <div class="skills">
            <figure class="skills" data-toggle="collapse">
                <img src="~/img/skill-logos/unity.svg" title="Unity" />
                <img class="good" src="~/img/good-skill.svg" />
                <figcaption class="collapse">
                    <ul>
                        <li>2D, 3D 게임 개발 경험</li>
                        <li>커스텀 에디터 확장</li>
                        <li>렌더링 파이프라인 확장 (URP)</li>
                    </ul>
                </figcaption>
            </figure>
            <figure class="skills" data-toggle="collapse">
                <img src="~/img/skill-logos/gms2.svg" title="GameMaker Studio 2" />
                <figcaption class="collapse">
                    <ul>
                        <li>게임 유지보수 경험</li>
                    </ul>
                </figcaption>
            </figure>
            <figure class="skills" data-toggle="collapse">
                <img src="~/img/skill-logos/unreal.svg" title="Unreal Engine" />
                <img class="good" src="~/img/bulb.svg" />
                <figcaption class="collapse">
                    <ul>
                        <li>관심 있음</li>
                    </ul>
                </figcaption>
            </figure>
            <figure class="skills" data-toggle="collapse">
                <img src="~/img/skill-logos/godot.svg" title="Godot Engine" />
                <img class="good" src="~/img/bulb.svg" />
                <figcaption class="collapse">
                    <ul>
                        <li>관심 있음</li>
                    </ul>
                </figcaption>
            </figure>
        </div>
    </div>
    <div>
        <h3 class="text-center">백엔드</h3>
        <div class="skills">
            <figure class="skills" data-toggle="collapse">
                <img src="~/img/skill-logos/net.svg" title="ASP.Net Core" />
                <img class="good" src="~/img/good-skill.svg" />
                <figcaption class="collapse">
                    <ul>
                        <li>Entity Framework 활용 DB 모델 설계 및 연계</li>
                        <li>웹 페이지 및 웹 API 구현</li>
                    </ul>
                </figcaption>
            </figure>
            <figure class="skills" data-toggle="collapse">
                <img src="~/img/skill-logos/nodejs.svg" title="Node.js" />
                <figcaption class="collapse">
                    <ul>
                        <li>게임 유지보수 경험</li>
                        <li>웹 페이지 및 웹 API 구현</li>
                    </ul>
                </figcaption>
            </figure>
            <figure class="skills" data-toggle="collapse">
                <img src="~/img/skill-logos/mariadb.svg" title="Maria DB" />
                <figcaption class="collapse">
                    <ul>
                        <li>데이터베이스 구축 및 연동</li>
                    </ul>
                </figcaption>
            </figure>
            <figure class="skills" data-toggle="collapse">
                <img src="~/img/skill-logos/mongodb.svg" title="Mongo DB" />
                <figcaption class="collapse">
                    <ul>
                        <li>데이터베이스 구축 및 연동</li>
                    </ul>
                </figcaption>
            </figure>
        </div>
    </div>
    <div>
        <h3 class="text-center">CI/CD</h3>
        <div class="skills">
            <figure class="skills" data-toggle="collapse">
                <img src="~/img/skill-logos/github.svg" title="Github" />
                <img class="good" src="~/img/good-skill.svg" />
                <figcaption class="collapse">
                    <ul>
                        <li>Git 리포지토리 관리</li>
                        <li>Github Action 활용 빌드 자동화</li>
                    </ul>
                </figcaption>
            </figure>
            <figure class="skills" data-toggle="collapse">
                <img src="~/img/skill-logos/docker.webp" title="Docker" />
                <figcaption class="collapse">
                    <ul>
                        <li>도커 컨테이너 관리 및 배포</li>
                    </ul>
                </figcaption>
            </figure>
        </div>
    </div>
</div>